{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %} | {% trans 'Forgot Password?' %} {% endblock %}

{% block content %}

<div class="container mtb">	
    <div class="row">
	<div class="col-md-6 col-md-offset-3">
	    <div class="panel panel-login">
		<div class="panel-heading">
		    <h4>{% trans 'Password reset sent' %}</h4>
		    <hr>
		</div>
	    <div class="panel-body">
		<div class="row">
		    <div class="col-lg-12">
			<div class="text-center" style="margin-bottom: 10px;">
			    {% trans 'We\'ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
			</div>
		    </div>
		    <div class="col-lg-12">
			<div class="text-center" style="margin-bottom: 10px;">
			    {% trans 'If you don\'t receive an email, please make sure you\'ve entered the address you registered with, and check your spam folder.' %}
			</div>
		    </div>
		    <div class="col-lg-12">
			<div class="text-center" style="margin-bottom: 10px;">
			    <a href="{% url 'webapp:index' %}" tabindex="5" class="forgot-password">{% trans 'Home Page' %}</a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
