{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} | Add New Opera {% endblock %}
{% include "webapp/navbar.html" %}

{% block content %}
  <header>
    <center>
      <h1>Add Opera</h1>
    </center>
  </header>
  
  {% if request.method == 'POST' %}
  
  {{ opera_id }}
  
  {% else %}
  <form id="mega-form" class="form-horizontal" method="POST" action="{% url 'webapp:add' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ forms.management_form }}
    
    {% for field in forms %}
    <div class="form-group">
      <div class="col-sm-12">
        <div class="input-group">
          <label class="input-group-addon" for="{{ field.id_for_label }}">{{ field.label }}</label> 
          {{ field | add_class:"form-control" }}
        </div>
      </div>
    </div>
    {% endfor %}
    
    <div class="form-group" align="center">
      <button id="clear" class="btn btn-danger" onClick='resetForm()' type="button" >Reset</button>
      <button id="submit_button" class="btn btn-primary" type="submit">Add</button>
    </div>

  </form>
{% endif %}
{% endblock %}

{% block js_block %}
{{ block.super }}
  <script>
    function resetForm(){
      $('#mega-form')[0].reset();
    }
  </script>
{% endblock %}
