{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% trans 'Database Duellonline' %}{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
    {% block css_style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {# Load CSS #}
    {% bootstrap_css %}
    {% endblock %}
</head>

<body>
    {% include "webapp/navbar.html" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    {% block js_block %}
    {% bootstrap_javascript jquery=1 %}
    {% endblock %}
    
</body>

</html>
