{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, 
                initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{% trans 'Database Duellonline' %}{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
    {% block css_style %}
    {# Load CSS #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    {% endblock %}
</head>

<body>      
    {% block content %}{% endblock %}
    
    
    {% include 'webapp/footer.html' %}
    {% block js_block %}
    {% bootstrap_javascript jquery=1 %}
    {% endblock %}
</body>

</html>
