{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load webapp_utils %}
{% load i18n %}
{% block title %} | Opera: {{ opera.title }} {% endblock %}

{% block content %}
<div class="container mtb">
    
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Original Title' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.title_original %}{{ opera.title_original }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Period' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.period %}{{ opera.period }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Location' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.location %}{{ opera.location }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Writing Date' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.writing_date %}{{ opera.writing_date }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Description' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.description %}{{ opera.description }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Quote' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.quote %}{{ opera.quote }}{% else %} --- {% endif %}
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{% trans 'Original Quote' %}</h3>
		</div>
		<div class="panel-body">
			{% if opera.quote_original %}{{ opera.quote_original }}{% else %} --- {% endif %}
		</div>
	</div>
	
	{% if attachments %}    
    <div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if n_attach > 1 %}
				{% trans 'Attachments' %}
				{% elif n_attach == 1 %}
				{% trans 'Attachment' %}
				{% endif %}
				</h3>
		</div>
		<div class="panel-body">
		{% for attach in attachments %}	
		<ul class="list-group">
			<li class="list-group-item"><h6>{% trans 'File Name:' %} </h6>{{ attach.file_name }}</li>
			<li class="list-group-item"><h6>{% trans 'File Type:' %} </h6>{{ attach.file_type }}</li>
			<li class="list-group-item"><h6>{% trans 'File Size:' %} </h6>{{ attach.file_size | size_fmt}}</li>
			<li class="list-group-item"><h6>{% trans 'Notes:' %} </h6>{{ attach.notes }}</li>
			<li class="list-group-item"><center><a class="btn btn-primary btn-lg" href="{{ attach.file_upload.url }}" role="button">{% trans 'Download' %}</a></center></li>
		</ul>
		{% endfor %}
		</div>
	</div>        
    {% endif %}

</div>
        
    

{% endblock %}
