{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %} | {% trans 'Latest Operas' %} {% endblock %}
{% block css_style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/item_list.css' %}" />
{% endblock %}

{% block content %}
<div class="container mtb">
{% if latest_opera_list %}
    <div id="item-list">
    {% for opera in latest_opera_list %}
        
        <a href="{% url 'webapp:view_opera' opera.id %}">
            <div class="item-div row">
                <div class="item-thumbnail hidden-xs col-sm-1 vcenter">
                    <i class="fa fa-book fa-5x" aria-hidden="true" style="color: #344D6B"></i>
                </div>
                <div class="item-main col-xs-12 col-sm-7 vcenter">
                    <p class="item-title"
                    title="{{ opera.title }}"> {{ opera.title }}
                    </p>
                </div>
                <div class="item-sub col-xs-12 col-sm-3 vcenter">
                    <ul class="meta-list list-unstyled">
                        <li><i class="fa fa-clock-o fa-lg" aria-hidden="true" style="color: #344D6B"></i>  {{ opera.writing_date }}</li>
                        <li><i class="fa fa-user fa-lg" aria-hidden="true" style="color: #344D6B"></i>  {{ opera.author }}</li>
                    </ul>
                </div>
            </div>
        </a>
        
    {% endfor %}
    </div>
{% else %}
    <div class="list-warning">
        <div class="alert alert-warning" role="alert">
            <span class="sr-only">{% trans 'Error:' %}</span>
            {% trans 'Sorry, no books matching your query' %}
        </div>
    <div>
{% endif %}
</div>


{% endblock %}
