{% url 'webapp:index' as index %}
{% url 'webapp:latest' as latest %}
{% url 'webapp:allopera' as allopera %}
{% url 'webapp:add' as add %}
{% load i18n %}

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'webapp:index' %}">{% trans 'Database Duellonline' %}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if request.path == index %}class="active"{% endif %}><a href="{% url 'webapp:index' %}">{% trans 'Home' %}</a></li>
        <li {% if request.path == latest %}class="active"{% endif %}><a href="{% url 'webapp:latest' %}">{% trans 'Latest Opera' %}</a></li>
        <li {% if request.path == allopera %}class="active"{% endif %}><a href="{% url 'webapp:allopera' %}">{% trans 'All Operas' %}</a></li>
        <li {% if request.path == add %}class="active"{% endif %}><a href="{% url 'webapp:add' %}">{% trans 'Add Opera' %}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
