{% load i18n %}
<div class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="{% url 'webapp:user_profile' %}">
                  <i class="fa fa-dashboard fa-lg"></i> {% trans 'Dashboard' %}
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#manopera" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg"></i> {% trans 'Manage Operas' %} <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="manopera">
					<li><a href="#">{% trans 'All Operas' %}</a></li>
                    <li><a href="#">{% trans 'Add Opera' %}</a></li>
                    <li><a href="#">{% trans 'Attachments' %}</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#manuser" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> {% trans 'Manage User' %} <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="manuser">
                  <li href="#">{% trans 'Change Info' %}</li>
                  <li href="#">{% trans 'Change Password' %}</li>
                </ul>

                 <li>
                  <a href="{% url 'logout' %}">
                  <i class="fa fa-sign-out fa-lg"></i> Logout
                  </a>
                </li>
            </ul>
     </div>
</div>
